/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require normalize
 */

@import "bourbon";
@import "base/grid-settings";
@import "base/base";
@import "neat";
@import "common";
@import "navbar";
@import "calendar";

.hidden {
  display: none;
}

.container {
	padding: 20px;
  @include outer-container;
  background: #656DE8;
}

.button {
	background-color: green;
	padding: 20px;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.title {
	margin-bottom: 20px;
}

html {
	background: #656DE8;
}

body {
  -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

.h1 {
}

.index {
	background-color: white;
	border-radius: 10px;
}

.span3 {
	@include span-columns(3);
}

.span6 {
	@include span-columns(6);
}

.span4 {
	@include span-columns(4);
}

.span8 {
	@include span-columns(8);
}

.span12 {
	@include span-columns(12);
}

.omega {
	@include omega();
}
