$person-row-height: 60px;
$every-other-column-color: lighten(yellow, 30%);

ul#people {
  padding-top: 24px;
  @include span-columns(2, block-collapse);

  > li {
    height: $person-row-height;
    padding-left: 2em;
    border-top: 1px solid black;
  }
}

main#calendar {
  @include span-columns(10);
  @include omega();
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  ol#week-headings {
    height: 24px;
    > li {
      @include span-columns(2 of 10, block-collapse);
      height: 24px;
      display: inline-block;
      float: none;
      text-align: center;
      &:nth-child(odd) {
        background-color: $every-other-column-color;
      }
    }
  }

  ol#people-assignments {
    > li {
      height: $person-row-height;

      ol.week-assignment {
        > li {
          @include span-columns(2 of 10, block-collapse);
          border-top: 1px solid black;
          display: inline-block;
          float: none;
          text-align: center;
          height: $person-row-height;

          position: relative;
          &:nth-child(odd) {
            background-color: $every-other-column-color;
          }

          > div {
            height: 40px;
            line-height: 40px;
            float: left;
            border-radius: 8px;
          }
          .days1 {
            width: 20%;
          }
          .days2 {
            width: 40%;
          }
          .days3 {
            width: 60%;
          }
          .days4 {
            width: 80%;
          }
          .days5 {
            width: 100%;
          }
        }
      }
    }
  }
}
