.auth-top {
  text-align: right;
}

input[type="submit"][disabled] {
  background-color: gray;
}

.modal {
  position: relative;
  margin: 10px auto;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 1em;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;
}
