input[type="submit"][disabled] {
  background-color: gray;
}

.modal {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 1em;
  top: 25%;
  left: 30%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.flush--top {
  margin-top: 0;
}

.white {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.alert {
  &.alert-warning {
    @extend %flash-notice;
  }
  &.alert-danger {
    @extend %flash-error;
  }
}

$tooltip-background: blue;
$tooltip-color: white; //$base-font-color;
$tooltip-width: 16em;
$tooltip-arrow-width: 8px;
$tooltip-distance-from-item: 140%;
$tooltip-arrow-distance-from-box: -$tooltip-arrow-width * 3.4 + 1;

%tooltip-abstract {
  @include position(absolute, 0 0 0 50%);
  @include transition (all 0.2s ease-in-out);

  background-color: $tooltip-background;
  border-radius: $base-border-radius;
  color: $tooltip-color;
  font-size: .9em;
  line-height: 1.5em;
  margin-left: -($tooltip-width/2);
  opacity: 0;
  padding: 1em;
  box-shadow: 0 2px 2px silver;
  text-align: center;
  visibility: hidden;
  width: $tooltip-width;
  z-index: 100000;
  font-family: $serif;
  white-space: normal;

  p {
    margin-bottom: 0;
  }
}

%tooltip-top {
  @extend %tooltip-abstract;
  bottom: $tooltip-distance-from-item;

  &:after {
    @include position(absolute, 0 0 0 46%);
    margin-left: -$tooltip-arrow-width;
    border: $tooltip-arrow-width solid transparent;
    color: $tooltip-background;
    content: '▼';
    text-shadow: 0 2px 2px silver;
    font-size: 1.4em;
    pointer-events: none;
    bottom: $tooltip-arrow-distance-from-box + 4;
  }
}

%tooltip-bottom {
  @extend %tooltip-abstract;
  top: $tooltip-distance-from-item;

  &:before {
    @include position(absolute, 0 0 0 46%);
    margin-left: -$tooltip-arrow-width;
    border: $tooltip-arrow-width solid transparent;
    color: $tooltip-background;
    content: '▲';
    font-size: 1.4em;
    pointer-events: none;
    top: $tooltip-arrow-distance-from-box;
  }
}
