.auth-top {
  text-align: right;
}

input[type="submit"][disabled] {
  background-color: gray;
}

.modal {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 1em;
  top: 25%;
  left: 30%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.flush--top {
  margin-top: 0;
}

.white {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
